*,
::after,
::before {
    box-sizing: border-box;
}

:root {
    --primary-color: #5d3bee;
    --heading-color: #080415;
    --text-color: #51586a;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "DM Sans", sans-serif;
    font-size: 1.6rem;
}

/* Common */
input,
textarea,
button,
select {
    font-family: inherit;
    font-size: inherit;
}

a {
    text-decoration: none;
}

.container {
    padding-left: 0;
    padding-right: 0;
}

.btn {
    --height: 62px;

    display: inline-block;
    min-width: 170px;
    line-height: var(--height);
    text-align: center;
    color: #fdfdfd;
    font-size: 1.8rem;
    font-weight: 700;
    background: var(--primary-color);
}

.btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

.section-heading {
    color: var(--heading-color);
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 1.18; /* 117.857% */
    letter-spacing: -2.24px;
}

.section-desc {
    margin-top: 20px;
    color: var(--text-color);
    font-size: 1.8rem;
    line-height: 1.67; /* 166.667% */
}

/* Header */
.fixed {
    position: sticky;
    z-index: 10;
    top: -20px;
    background: #fbfaff;
}

.header {
    padding-top: 20px;
    background: #fbfaff;
}

.inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1330px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.contact-badge {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.contact-badge__icon-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 1px solid rgb(93, 59, 238, 0.2);
    cursor: pointer;
    transition: 0.3s;
}

.contact-badge:hover .contact-badge__icon-wrap {
    border-color: var(--primary-color);
}

.contact-badge__email {
    position: relative;
    color: var(--heading-color);
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.36; /* 136.364% */
}

.contact-badge__email::after {
    position: absolute;
    height: 2px;
    width: 0;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    content: "";
    background: var(--heading-color);
    border-radius: 2px;
    transition: 0.3s;
}

.contact-badge:hover .contact-badge__email::after {
    width: 100%;
}

.navbar__list {
    display: flex;
}

.navbar-item__link {
    position: relative;
    padding: 16px 22px;
    color: var(--text-color);
    font-size: 1.8rem;
    transition: 0.3s;
}

.navbar-item__link::after,
.navbar-item__link--active::after {
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    background: var(--primary-color);
    border-radius: 2px;
    transition: 0.3s;
}

.navbar-item__link:hover,
.navbar-item__link--active {
    color: var(--primary-color);
    text-shadow: 1px 0 0 var(--primary-color);
}

.navbar-item__link:hover::after,
.navbar-item__link--active::after {
    width: calc(100% - 44px);
}

/* Hero */
.hero {
    padding-top: 44px;
    background: #fbfaff;
    overflow: hidden;
}

.hero__inner {
    display: flex;
    align-items: center;
    column-gap: 156px;
}

.hero__img-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    max-width: 514px;
}

.hero__img {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero__img-deco {
    position: absolute;
    top: -130px;
    left: -256px;
}

.hero__content {
    position: relative;
}

.hero__heading {
    color: var(--heading-color);
    font-size: 8rem;
    font-weight: 500;
    line-height: 0.95; /* 95% */
    /* letter-spacing: -3.2px; */
}

.hero__desc {
    max-width: 370px;
}

.hero__cta {
    display: flex;
    align-items: center;
    column-gap: 30px;
    margin-top: 50px;
}

.hero__my-works {
    color: var(--heading-color);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.67; /* 166.667% */
}

.hero__my-works:hover {
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.hero__footer {
    display: flex;
    align-items: center;
    column-gap: 15px;
    margin-top: 109px;
}

.hero__socials {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.hero__social-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgb(8, 4, 21, 0.2);
    transition: border 0.25s;
}

.hero__social-wrap:hover {
    cursor: pointer;
    border-color: var(--primary-color);
}

.hero__deco-content {
    position: absolute;
    left: 333px;
    bottom: -40px;
}
